@import '../index.scss';

footer {
  .footer-wrapper {
    height: 32vh;
    .footer-content-wrapper {
      .footer-brand {
        width: 30%;
        figure {
          img {
            width: 295px;
          }
        }
      }
  
      .footer-content {
        width: 70%;
  
        .content {
          width: 16rem;
          h5 {
            @include title-tx-op5;
          }
  
          ul {
            padding: 0;
            li {
              list-style: none;
              a {
                @include para-tx-os2;
                text-decoration: none;
              }
            }
          }
        }
  
        .location {
          h5 {
            @include title-tx-op5;
          }
  
          p {
            @include para-tx-os2;
          }
        }
      }
    }
   
    .footer-content-sosmed {
      p {
        width: 30%;
        height: 2rem;
        @include para-tx-os2;
      }

      .sosmed {
        width: 70%;
        height: 2rem;
        
        .facebook, .instagram {
          width: 12.5rem;
          a {
            @include para-tx-os2;
            text-decoration: none;
          }
        }

        .youtube {
          a {
            @include para-tx-os2;
            text-decoration: none;
          }
        }
        
      }
    }
  }
}