@import "../index.scss";

.hero {
  height: 100vh;
  .hero-wrapper {
    top: 22vh;
    article {
      width: 50%;
      h1 {
        @include title-tx-ms1;
      }

      h3 {
        @include title-tx-ms3;
        margin-top: 0.5rem;
      }

      p {
        @include para-tx-os1;
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }

    figure {
      width: 50%;
      img {
        width: 512px;
      }
    }
  }
}
