@import '../index.scss';

.navbar-brand {
  width: 14rem;
}

.navbar {
  font-family: 'Open Sans';
  
  .navbar-collapse {
    ul {
      li {
        a {
          font-size: 1rem;
          font-weight: 600;
          color: $grey;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}