@import '../index.scss';

nav {
  z-index: 9999;
  background-color: $white;
}

.nav-shadow {
  box-shadow: 0px 4px 13px 0px #00000012;
}

.navbar-brand {
  width: 14rem;
}

.navbar {
  font-family: 'Open Sans';
  
  .navbar-collapse {
    ul {
      li {
        a {
          font-size: 1rem;
          font-weight: 600;
          color: $grey;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    .container {
      width: 90vw;
      margin: 0 auto;
    }
  }
}