@import '../index.scss';

.register-flow {
  height: 100vh;
  .register-flow-wrapper {
    article {
      width: 60%;
      .title {
        h2 {
          @include title-tx-ms2;
        }
        p {
          @include para-tx-os2;
          margin-top: 12px;
        }
      }

      .figure-content-wrap {
        margin-top: 2rem;

        .tab-wrapper {

          ul {
            padding: 0;
            list-style: none;

            .card-active {
              z-index: 9;
              cursor: pointer;
              background: $gradient-green;

              h6 {
                @include title-wh-ms4;
                background: none;
              }
              p {
                @include para-wh-os2;
                background: none;
                width: 88px;
                height: 40px;
              }
            }

            li {
              @include over-sd;
              border-radius: 1rem;
              padding: 16px 18px;
              border: .5px solid $light-grey;
              background: $white;
              text-decoration: none;
                h6 {
                  @include title-tx-ms4;
                }
                p {
                  @include para-tx-os2;
                  width: 88px;
                  height: 40px;
                } 
            }:hover {
              z-index: 8;
              cursor: pointer;
              background: $gradient-green;
                h6 {
                  @include title-wh-ms4;
                  background: none;
                }
                p {
                  @include para-wh-os2;
                  background: none;
                }
            }
          }
        }

        .tab-content {
          z-index: 999;
          margin-top: 1rem;
          height: 2rem;
          p {
            @include para-tx-os2;
          }
        }
      }

    }
    figure {
      width: 40%;
      img {
        width: 90%;
      }
    }
  }
}

@media (max-width: 820px) {
  .register-flow {
    height: auto;
    margin-top: 5rem;

    .register-flow-wrapper {
      flex-direction: column;
      row-gap: 5rem;
      align-items: flex-start;
      article {
        width: 100%;
        .tab-wrapper {
          ul {
            justify-content: flex-start;
          }
        }

      }
      figure {
        width: 100%;
      }
    }
  }
}