@import "../index.scss";

.schedule {
  height: 100vh;
  .schedule-wrapper {
    figure {
      width: 60%;
      img {
        width: 100%;
      }
    }

    article {
      width: 40%;
      justify-content: center;
      .title {
        h2 {
          @include title-tx-ms2;
        }
        p {
          @include para-tx-os2;
        }
      }

      .content-wrapper {
        margin-top: 1.5rem;
        .content {
          h5 {
            @include tibo-tx-op5;
          }
          p {
            margin-top: 4px;
            @include para-tx-os2;
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .schedule {
    margin-top: 10rem;
    .schedule-wrapper {
      flex-direction: column;

      figure {
        width: 100%;
        order: 2;

        img {
          width: 100%;
        }
      }

      article {
        width: 100%;
        justify-content: flex-start;
      }
    }
  }
}
