@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@500;600;700&display=swap');

// SCROLLBAR
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body {
  scroll-behavior: smooth;
}

// ====== VARIABLE ====== 
// ==== MAIN COLOR ====
$green-primary :  #0D6440;
$yellow-second : #FACA2B;
$red-third : #EC3537;

// ==== TEXT COLOR ====
$black : #2f2f2f;
$grey : #6d6d6d;
$light-grey : #eaeaea;
$white : #fff;

// ==== GRADIENT COLOR ====
$gradient-green : linear-gradient(180deg, #0D6440 34.06%, #07472D 125%);

// ==== TEXT SIZE and FONT ====
@mixin title-tx-ms1 {
  font-size: 40px;
  font-weight: 700;
  color: $black;
  font-family: 'Montserrat';
}

@mixin title-tx-ms2 {
  font-size: 36px;
  font-weight: 600;
  color: $black;
  font-family: 'Montserrat';
}

@mixin title-tx-ms3 {
  font-size: 32px;
  font-weight: 500;
  color: $black;
  font-family: 'Montserrat';
}

@mixin title-tx-ms4 {
  font-size: 24px;
  font-weight: 600;
  color: $black;
  font-family: 'Montserrat';
}

@mixin title-wh-ms4 {
  font-size: 24px;
  font-weight: 600;
  color: $white;
  font-family: 'Montserrat';
}

@mixin title-tx-op5 {
  font-size: 18px;
  font-weight: 600;
  color: $black;
  font-family: 'Open Sans';
}

@mixin tibo-tx-op5 {
  font-size: 18px;
  font-weight: 700;
  color: $black;
  font-family: 'Open Sans';
}

@mixin para-tx-os1 {
  font-size: 18px;
  font-weight: 500;
  color: $grey;
  font-family: 'Open Sans';
}

@mixin para-tx-os2 {
  font-size: 15px;
  font-weight: 500;
  color: $grey;
  font-family: 'Open Sans';
}

@mixin para-wh-os2 {
  font-size: 15px;
  font-weight: 500;
  color: $white;
  font-family: 'Open Sans';
}

// ==== BUTTON ====
.btn-primary {
  padding: 10px 22px;
  border-radius: 3rem;
  font-size: 1rem;
  font-family: 'Open Sans';
  background: $gradient-green;
  border: none;
  color: #fff;
  border: 2px solid transparent;
  transition: .7s ease-out;
  &:hover {
    color: $green-primary;
    background: $white;
    border: 2px solid $green-primary;
    transition: .7s ease-out;
  }
}

.btn-nav {
  padding: 8px 24px;
  border-radius: 6rem;
  font-size: 1rem;
  background: $gradient-green;
  border: none;
  color: $white;
  transition: .7s ease-out;
  &:hover {
    opacity: 70%;
    transition: .7s ease-out;
  }
}

// SHADOW

@mixin over-sd {
  box-shadow: 0px 27px 40px 4px #E9F1ED;
}


// MEDIA QUERY 

@media (max-width: 768px) {
  .container {
    width: 90vw;
    margin: 0 auto;
  }
}
